.s-alert-box {
    min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
    width: 2px;
}
.app-body{
    /* background-image: linear-gradient(359deg,#eb687e, #ecb5b5, #83a3ed); */
    padding: 20px;
}